asn1crypto==1.4.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.3.1
Django==3.1.5
django-filter==2.4.0
djangorestframework==3.12.2
idna==3.0
itypes==1.2.0
Jinja2==2.11.2
Markdown==3.3.3
MarkupSafe==1.1.1
nexmo==2.5.2
pycparser==2.20
PyJWT==2.0.0
pytz==2020.5
requests==2.25.1
six==1.15.0
uritemplate==3.0.1
urllib3==1.26.2
