 {% extends 'base.html' %}
 {% load staticfiles %}
 {% block custom_title %}
    Booking Appointment
{% endblock %}

 {% block main %}
<div style="text-align:center;" class="container">
    <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="dept" class="autocomplete">
          <label for="dept">Department</label>
        </div>
      </div>
    </div>
    </div>



    <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="hospital" class="autocomplete">
          <label for="hospital">Hospital</label>
        </div>
      </div>
    </div>
    </div>

    <a onclick="getLocation()" class="waves-effect waves-light btn "><i class="material-icons right">cloud</i>Get nearest Hospital</a>

    <!--<button onclick="getLocation()">Get nearest Hospital</button>-->

    <p id="demo"></p>
    <a style="margin-top: 2%" class="waves-effect waves-light btn "><i class="material-icons submit right">cloud</i>Submit</a>




 </div>

{% endblock %}


 {% block custom_script %}
 <script>
    $("#dept").autocomplete({
    data: {
      "Apple": null,
      "Microsoft": null,
      "Google": 'https://placehold.it/250x250'
    },
    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
    onAutocomplete: function(val) {
      // Callback function when value is autcompleted.
    },
    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
    });


    $("#hospital").autocomplete({
    data: {
      "Apple": null,
      "Microsoft": null,
      "Google": 'https://placehold.it/250x250'
    },
    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
    onAutocomplete: function(val) {
      // Callback function when value is autcompleted.
    },
    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
    });

    </script>

    <script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
             } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}
</script>
 {% endblock %}
