{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
    <div class="container" style="padding:20px;">
        <div class="row">
            <div class="col s4">
                {{ dayschedules|safe }}
            </div>
            <div class="col s8">
                <div class='calendar'></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript">
        var dayschedules = {{ dayschedules|safe }}
    </script>
    <script src="{% static 'js/calendar.js' %} "></script>
{% endblock %}