{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
<div class="container" style="margin-top:5%">
    <h5>Frequently Asked Questions</h5>
    <br>
    <ul class="collection">
        <li class="collection-item">
            <label class="ques">
                <b> Ques: How can a patient update an appointment ?</b>
            </label><br/>
            <label class="ans">
                Ans: Go to schedule and you will see the update option.
            </label>
        </li>
        <li class="collection-item">
            <label class="ques">
                <b> Ques: What happens in the emergency cases ?</b>
            </label><br/>
            <label class="ans">
                Ans: Direct request to neighbouring hosptals with proper facility will be sent for emergency.
            </label>
        </li>
        <li class="collection-item">
            <label class="ques">
                <b> Ques: How can a doctor book slots in hospitals ?</b>
            </label><br/>
            <label class="ans">
                Ans: Doctor can book slots directly from the dashbard.
            </label>
        </li>
        <li class="collection-item">
            <label class="ques">
                <b> Ques: Can I book an appointment for my parents who live far away ?</b>
            </label><br/>
            <label class="ans">
                Ans: Yes, you easily can.
            </label>
        </li>
        <li class="collection-item">
            <label class="ques">
                <b> Ques: Is the appointment token money compulsary ?</b>
            </label><br/>
            <label class="ans">
                Ans:
            </label>
        </li>
        <li class="collection-item">
            <label class="ques">
                <b> Ques: I am a doctor, Can I be a patient too ?
                </b>
            </label><br/>
            <label class="ans">
                Ans: Yes, You surely can have 2 roles.
            </label>
        </li>
        <li class="collection-item">
            <label class="ques">
                <b> Ques: What is the cost for booking an appointment ?</b>
            </label><br/>
            <label class="ans">
                Ans: We charge a minimal fee for the booking an appointment and this is to ensure no one books a fake
                appointment.
            </label>
        </li>

    </ul>

</div>


{% endblock %}

{% block custom_script %}


{% endblock %}
