{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
    <div class="row">
        <div class="col s3" style="margin:0; height: 100%;">
            <div class="container">
                <form class="row">
                    <label class="col m12"><h5>FILTER By</h5></label>
                    <div class="input-field col s6">

                        <input type="text" id="fromDate" class="datepicker">
                        <label for="fromDate">From Date</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="toDate" class="datepicker">
                        <label for="toDate">To Date</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="text" id="doctor" class="autocomplete">
                        <label for="doctor">Doctor</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="text" id="hospital" class="autocomplete">
                        <label for="hospital">Hospital</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="text" id="department" class="autocomplete">
                        <label for="department">Department</label>
                    </div>

                    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Time Slot &nbsp; &nbsp; v</a>

                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">Morning</a></li>
                        <li><a href="#!">Noon</a></li>
                        <li><a href="#!">Evening</a></li>
                    </ul>

                    <a class="waves-effect waves-light btn" style="margin-top:2%" onclick="getLocation()">Sort By
                        Location</a>
                    <p id="demo"></p>

                    <a class="waves-effect waves-light btn" id="filter">Filter</a>


                </form>
            </div>
        </div>
        <div class="col s9" style="height:100%">
            <div class="row" id="add_cards">

            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}

    <script type="text/javascript">
            var users = {{ users|safe }};
            var contacts = {{ contacts|safe }};
            var departments = {{ departments|safe }};
            var doctors = {{ doctors|safe }};
            var appointments = {{ appointments|safe }};
            var daySchedule = {{ daySchedule|safe }};
            var hospitals = {{ hospitals|safe }};
            var patients = {{ patients|safe }};
            console.log("daySchedule");
            console.log(daySchedule);
            console.log("appointments");
            console.log(appointments);
            console.log(doctors);
            console.log("USERS");
            console.log(hospitals);
            console.log(departments);
    </script>
    <script type="text/javascript" src="{% static 'js/filter.js' %}"></script>

{% endblock %}