{% extends 'base.html' %}
{% load staticfiles %}

{% block notifications %}
    {% if unread_notifications %}
        {% for notification in unread_notifications %}
            <li><a class="subheader" style="text-align:center">{{ notification.message }}</a></li>
        {% endfor %}
    {% else %}
        <li><a class="subheader" style="text-align:center">No notifications to show</a></li>
    {% endif %}
{% endblock %}

{% block main %}

    <div id="index-banner" class="parallax-container black">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h3 class="header center white-text">
                    Unified Portal for Centrally Handled Application for Appointment Requisition
                </h3>
                <div class="row center">
                    <img class="col s3 offset-s4" src="{% static 'img/logo.png' %}" alt="Logo img">
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="#"></div>
    </div>

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds up request handling</h5>
                        <p class="light">Speeds up request handling, efficiently schedules appointments and saves time</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>
                        <p class="light">Focused towards making the process user friendly, sends timely notifications
                        and reminders, automatically reschedules missed appointments </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>
                        <p class="light">One central platform for hospitals, doctors and patients to manage and provide
                            efficient healthcare</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
        </div>
        <div class="parallax"><img src="{% static 'img/bg2.png' %}" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h5>In case of emergency ...</h5>
                    <p class="center-align light">Availing emergency services is just one click away. Saves the hassale
                    of booking appointments when time is precious.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot"></div>
        <div class="parallax"><img src="{% static 'img/bg3.jpg' %}" alt="Unsplashed background img 3"></div>
    </div>

{% endblock %}

{% block custom_script %}
    <script>
        $(document).ready(function(){
        });
    </script>
{% endblock %}