 {% extends 'base.html' %}
 {% block custom_title %}
    Upchaar-List of Hospitals
{% endblock %}

 {% block main %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css">

<div class="container">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Hospital Name</h4></li>
        <li class="collection-item"><div>Doc1<a href="www.google.com" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Doc2<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Doc3<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>

      </ul>
</div>
 {% endblock %}