 {% extends 'base.html' %}
 {% block custom_title %}
   Upchaar-List of Hospitals
{% endblock %}

{% block main %}

 <style xmlns:https="http://www.w3.org/1999/xhtml">
     .card_1 :hover{
        box-shadow: 0 0 21px rgba(33,33,33,.2);

     }
 </style>

    <div class="login_main container ">
    <div class="row">
        <div class="center-align light-blue-text darken-2 offset-s2 col s8">
            <h1 >Register as </h1>
        </div>
        <div class="col s4 m4">
          <div class="card_1 card green darken-1">
            <div class="card-content white-text">
              <span style="box-shadow: 0 0 0px" class="card-title">Doctor</span>
              <p style="box-shadow: 0 0 0px">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>

          </div>
        </div>
            <div class="col s4 m4">
          <div id="card_1" class="card_1 card green darken-1">
            <div class="card-content white-text">
              <span style="box-shadow: 0 0 0px" class="card-title">Patient</span>
              <p style="box-shadow: 0 0 0px">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>

          </div>
        </div>
            <div class="col s4 m4">
          <div  class="card_1 card green darken-1">
            <div class="card-content white-text">
              <span style="box-shadow: 0 0 0px" class="card-title">Hospital Admin</span>
              <p style="box-shadow: 0 0 0px">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>

          </div>
        </div>
      </div>

    </div>

</div>

 {% endblock %}