{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_style %}

{% endblock %}

{% block main %}

    <div class="container">
        <h5 align="center">Test UI</h5>
        <div class="row">
            <div class="col s12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis hendrerit convallis. Suspendisse felis sem, aliquam et blandit ut, ullamcorper non est. Curabitur sed nibh quis dolor mollis accumsan. Etiam fringilla velit in orci semper pulvinar. Nullam odio mauris, suscipit id laoreet quis, iaculis at urna. Nulla congue ante et purus consequat luctus. Quisque porta aliquet lectus.</p>
            </div>
        </div>
        <div class="cards-container">
            <!--   First Card -->
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <img src="https://api.adorable.io/avatars/150/1">
                    </div>
                    <div class="back">
                        <img src="https://api.adorable.io/avatars/150/2">
                    </div>
                </div>
            </div>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <label for="id_date_of_birth">Date of Birth</label>
                    <input name="dob" id="id_dob" type="text" id="id_date_of_birth" class="datepicker">
                </div>
            </div>
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block custom_script %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('.timepicker').timepicker();
            $('.datepicker').datepicker({
                format:'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}