{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_style %}

{% endblock %}

{% block main %}

    <div class="container">
        <!--<div id='calendar'></div>-->
        <div class="calendar"></div>
    </div>

{% endblock %}

{% block custom_script %}
    <!--<script>-->
        <!--$(document).ready(function(){-->
            <!--$('#calendar').fullCalendar();-->
        <!--});-->
    <!--</script>-->
    <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
{% endblock %}